git+https://github.com/subinps/pyrogram@inline-m
tgcrypto
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
umongo==3.0.1
requests
bs4
imdbpy
aiofiles

pyrogram

ffmpeg-python

Pillow>=4.2.0
bs4

python-decouple

python-telegram-bot==11.1.0
pyromod~=1.5


wget
